.mat-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that app's content doesn't overlap the toolbar */
  box-shadow: black 0 0px 0 1px;
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #7986cb;
  color: white;
  width: 250px;
}

.btn-margin-left {
  margin-left: 10px;
}

.menu-item:not(:first-child) {
  margin-top: 15px;
}
