mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #7986cb;
  color: white;
  width: 250px;
}

.btn-margin-left {
  margin-left: 10px;
}
