<mat-toolbar color="primary" class="d-flex justify-content-between">
  <mat-icon role="button" (click)="sidenav.toggle()">menu</mat-icon>
  <span>{{ currentDate | date:'dd/MM/y HH:mm:ss'}}</span>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened>
    <div class="d-flex justify-content-between p-3 border-bottom fs-3">
      <span>Gravity-fw</span>
      <mat-icon role="button" (click)="sidenav.close()">close</mat-icon>
    </div>
    <div class="sideNav-container fs-5 p-3">
      <div class="grid">
        <div class="row menu-item" *ngFor="let item of loop">
          <div role="button" class="col d-flex justify-content-start align-items-center ml-2 mb-3">
            <mat-icon>home</mat-icon>
            <span class="btn-margin-left">Home</span>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>



